argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828496740/work
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
backcall==0.2.0
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
Brotli==1.0.9
CacheControl==0.12.6
catboost==0.24.4
certifi==2020.6.20
cffi==1.14.0
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
cycler==0.10.0
Cython==0.29.22
dash==1.19.0
dash-bootstrap-components==0.11.3
dash-core-components==1.15.0
dash-dangerously-set-inner-html==0.0.2
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
dash-uploader==0.4.2
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
Flask-Caching==1.10.0
Flask-Compress==1.9.0
future==0.18.2
graphviz==0.16
hdmedians==0.14.2
idna==2.10
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206602906/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447367857/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
itsdangerous==1.1.0
jedi @ file:///tmp/build/80754af9/jedi_1598371618777/work
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
kiwisolver==1.2.0
llvmlite==0.36.0
lockfile==0.12.2
MarkupSafe==1.1.1
matplotlib==2.2.2
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.2
natsort==7.1.1
nbconvert==5.6.1
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
notebook @ file:///tmp/build/80754af9/notebook_1601501581489/work
numba==0.53.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233737064/work
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1602088135163/work
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.14.3
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
ptyprocess==0.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pyparsing==2.4.7
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141725711/work
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
requests==2.25.1
retrying==1.3.3
scikit-bio==0.5.6
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1598379690588/work
scipy @ file:///tmp/build/80754af9/scipy_1597686625380/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
Send2Trash==1.5.0
shap==0.39.0
sip==4.19.24
six==1.15.0
slicer==0.0.7
statsmodels==0.12.2
terminado==0.9.1
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tornado==6.0.4
tqdm==4.59.0
traitlets==4.3.3
urllib3==1.26.3
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
xgboost==0.90
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
